.my-navbar {
  background-color: #333;
  border-color: white;
}
.my-navbar .navbar-brand {
  color: #fff;
}
.my-navbar .navbar-nav > li > a {
  color: #fff;
}
.my-navbar .navbar-nav > li > a:hover, .my-navbar .navbar-nav > li > a:focus {
  color: #fff;
  background-color:lightcoral;
}
